<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style_home.css">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <div class="futer"></div>
    </header>
    <main role="main" class="container">
        <div class="centr">
            <p class="CLS">Create, little star!</p>
            <h1 class="SSS">Star Silent Story</h1>
            <div class="words"><a href="/worlds">Создать мир</a></div>
        </div>
    </main>
</body>
</html>